<%- include("header") -%>
<h1>This is testing page</h1>
<p>and this is tesing para for the testing page that i dont wan't it to be just as bluff as i wanted but i tried my best to write by myself</p>

<%- include("footer") -%>
